<div class="flex flex-row flex-wrap content-start justify-center h-full bg-fuchsia-100 root">
  <h1 class="flex-100 h-fit text-center text-2xl p-3 bg-violet-900 text-white">
    {{ title }}
  </h1>

  <div *ngIf="showDescription" class="
    flex flex-100 justify-center mt-[15%]
    ">
    <div class="
      flex-1 max-w-xl h-fit p-5
      text-lg text-center 
      bg-white
      shadow-brutal-violet
      ">
      Are you tired of all the 
      <span class="italic text-fuchsia-900 text-xl">fake news?</span>
      Need help training your eye to weed out
      what's real and what's a load of malarky? Welcome to 
      <span class="text-2xl text-violet-900">GTFO!</span> The rules
      are simple: We show you two headlines. One is from a real news source and 
      one is from The Onion. You guess which one is the 
      <span class="italic text-fuchsia-900 text-xl">FAKE</span>. Are you ready?
    </div>
  </div>

  <div *ngIf="showDescription" class="flex flex-100 justify-center mt-40">
    <button
      class="
      bg-teal-800 text-white text-lg py-2 px-3 shadow-brutal-teal-300
      border-2 border-transparent
      hover:bg-teal-200 hover:text-teal-900 hover:shadow-none hover:underline
      hover:border-teal-900 hover:border-2
      transition ease-in-out duration-500
      "
      (click)="getPosts()"
    >
      Get Started
    </button>
  </div>

  <div [ngStyle]="showDescription ? { display: 'none' } : undefined"
    class="flex flex-100 justify-between h-fit bg-white text-2xl text-center 
      divide-x divide-violet-500 py-2 mb-[15%]"
    >
    <span class="flex-1">Remaining: {{ remaining$ | async }}</span>
    <app-score #score [total]="total$ | async" class="flex-1"></app-score>
  </div>


  <div class="flex flex-100 flex-wrap justify-evenly gap-8">
    <ng-container *ngIf="posts$ | async | newsIsAvailable; else newsUnavailable">
      <app-post
        *ngFor="let post of posts$ | async"
        [disabled]="answered"
        [post]="post"
        (correct)="$event ? guessCorrect() : guessWrong()"
      ></app-post>
    </ng-container>
    <ng-template #newsUnavailable>
      <div *ngIf="!showDescription" class="bg-white">
        <div class="text-2xl bg-teal-700 text-white p-2">
          COMPLETED
        </div>
        <p class="p-4">
          Thanks for playing! Feel free to share your results on 
          <a class="text-violet-900 underline" target="_blank"
            href="https://twitter.com/intent/tweet?text={{ tweetText | urlEncode }}">
            Twitter
          </a>
          :)
        </p>
      </div>
    </ng-template>
  </div>

  <div *ngIf="answered" [@slide]
    class="
      result flex flex-1 items-baseline justify-around bg-violet-50 text-2xl 
      max-w-3xl p-3 text-center shadow-brutal-violet min-w-fit mt-16
    ">
    <span *ngIf="correct" class="text-green-700"> Correct!</span>
    <span *ngIf="!correct && correct !== undefined" class="text-red-700">
      Wrong!
    </span>

    <button
      class="
      bg-teal-800 text-white text-lg px-2
      border-2 border-transparent
      hover:bg-teal-200 hover:text-teal-900 hover:underline
      hover:border-teal-900 hover:border-2
      transition ease-in-out duration-500
      "
      (click)="getPosts()"
    >
      Next Round!
    </button>
  </div>
</div>
